In [1]:
# Dictionary:
#    -supports index or key
#    - multiple and duplicate data but unique key. If the key is same even with different data then it replaces the data
#    - ordered
#    - mutable
#    - mapping
#    - there are no + and * operators so concatination is not possible

In [4]:
# Syntax
# d = {<key>:<value>, <key>:<value>}

In [2]:
d={}
d = dict()
print(type(d))

<class 'dict'>

In [6]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [7]:
print(d['a'])

Apple

In [9]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat', 'A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [10]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat', 'a':'apple'}
print(d)

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [12]:
d = {1:1, 2:4, 3:9, 4:16, 'a':'Apple'}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 'a': 'Apple'}

In [14]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values(['Apple', 'Ball', 'Cat'])
dict_items([('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')])

In [15]:
d = {}
d[1] = 1
d[2] = 4
d[3] = 9
d[4] = 16
print(d)

{1: 1, 2: 4, 3: 9, 4: 16}

In [17]:
d = {1: 1, 2: 4, 3: 9, 4: 16}
print(len(d))

4

In [18]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name: ")
    phone = int(input("Enter phone number: "))
    d[name] = phone
print(d)

Enter n = 1
Enter name: Krishna
Enter phone number: 9876456372
{'Krishna': 9876456372}

In [19]:
print(d['Krishna'])

9876456372

In [22]:
# Update

d['Krishna'] = 9999999999
print(d)

{'Krishna': 9999999999}

In [23]:
# Delete:  if we use del and delete the whole dictionary then it removes dictionary from memory

d = {'Krishna': 9876456372, 'Shyam': 9857657654}
del d['Shyam']
print(d)

{'Krishna': 9876456372}

In [24]:
d = {'Krishna': 9876456372, 'Shyam': 9857657654}
b = d.pop('Krishna')
print(b)

9876456372

In [25]:
# Concatination without using operators

a = {'Krishna': 9876456372, 'Shyam': 9857657654}
b = {'Radha': 980675894, 'Hari': 9857647632}
a.update(b)
print(a)

{'Krishna': 9876456372, 'Shyam': 9857657654, 'Radha': 980675894, 'Hari': 9857647632}

In [27]:
# List inside dictionary

d = {'Ram':[9875647657, 9875645342],
     'Sakxham':[9857645673, 9875674653],
     'Shyam':[9875674563, 9874653645]
    }
print(d['Ram'])
print(d['Ram'][0])

[9875647657, 9875645342]
9875647657

In [39]:
d = {}
n = int(input("Enter n = "))
for i in range(1, n+1):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    address = input("Enter address: ")
    d[i] = [name,age,address]
print(d)

Enter n = 2
Enter name: Ram
Enter age: 34
Enter address: Kathmandu
Enter name: Hari
Enter age: 23
Enter address: Chitwan
{1: ['Ram', 34, 'Kathmandu'], 2: ['Hari', 23, 'Chitwan']}

In [40]:
d[1] = ['Ram', 46, 'Kathmandu']
print(d)

{1: ['Ram', 46, 'Kathmandu'], 2: ['Hari', 23, 'Chitwan']}

In [44]:
d = {'name': ['Ram','Shyam','Hari'],
     'ntc': [9857645635, 9865463543, 9865463753],
     'ncell': [9865546374, 9876453647, 9765364893]
    }
print(d)

{'name': ['Ram', 'Shyam', 'Hari'], 'ntc': [9857645635, 9865463543, 9865463753], 'ncell': [9865546374, 9876453647, 9765364893]}

In [2]:
# For same key with multiple values

d = {'name':[],'ntc':[], 'ncell':[]}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name: ")
    ntc = int(input("Enter NTC number: "))
    ncell = int(input("Enter Ncell number: "))
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)
print(d)

Enter n = 2
Enter name: Ram
Enter NTC number: 9876767677
Enter Ncell number: 9897564765
Enter name: Shyam
Enter NTC number: 9898989898
Enter Ncell number: 9876545454
{'name': ['Ram', 'Shyam'], 'ntc': [9876767677, 9898989898], 'ncell': [9897564765, 9876545454]}

In [5]:
# Add other details like name, ntc, ncell in existing list
# Edit the above data
# Delete the above data

In [3]:
# Add other details like name, ntc, ncell in existing list

a = {'name': ['Ram', 'Shyam'], 'ntc': [9876767677, 9898989898], 'ncell': [9897564765, 9876545454]}
a['name'].append('Hari')
a['ntc'].append(9808675867)
a['ncell'].append(9865745658)
print(a)

{'name': ['Ram', 'Shyam', 'Hari'], 'ntc': [9876767677, 9898989898, 9808675867], 'ncell': [9897564765, 9876545454, 9865745658]}

In [5]:
# Edit the above data

a['name'][0] = 'Rama'
print(a)

{'name': ['Rama', 'Shyam', 'Hari'], 'ntc': [9876767677, 9898989898, 9808675867], 'ncell': [9897564765, 9876545454, 9865745658]}

In [6]:
# Delete the above data

del a['name'][0]
del a['ntc'][0]
del a['ncell'][0]
print(a)

{'name': ['Shyam', 'Hari'], 'ntc': [9898989898, 9808675867], 'ncell': [9876545454, 9865745658]}

In [13]:
# Dictionary inside dictionary

d = {'Ram':{'ntc':9867567465, 'ncell':9857647567},
     'Shyam':{'ntc':9865846846, 'ncell':9875443434}
    }
print(d)

{'Ram': {'ntc': 9867567465, 'ncell': 9857647567}, 'Shyam': {'ntc': 9865846846, 'ncell': 9875443434}}

In [12]:
print(d['Ram']['ntc'])

9867567465

In [14]:
# To add new value in existing dictionary

d['Hari'] = {'ntc':9865746535, 'ncell':9876767676}
print(d)

{'Ram': {'ntc': 9867567465, 'ncell': 9857647567}, 'Shyam': {'ntc': 9865846846, 'ncell': 9875443434}, 'Hari': {'ntc': 9865746535, 'ncell': 9876767676}}

In [15]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name: ")
    ntc = int(input("Enter NTC number: "))
    ncell = int(input("Enter Ncell number: "))
    d[i] = {'name':name, 'ntc':ntc, 'ncell':ncell}
print(d)

Enter n = 2
Enter name: Ram
Enter NTC number: 9879789789
Enter Ncell number: 9867876876
Enter name: Shyam
Enter NTC number: 9090988796
Enter Ncell number: 9890978769
{1: {'name': 'Ram', 'ntc': 9879789789, 'ncell': 9867876876}, 2: {'name': 'Shyam', 'ntc': 9090988796, 'ncell': 9890978769}}

In [16]:
a = {'Ram': {'ntc': [9867567465, 9867657645], 'ncell': 9857647567}, 
     'Shyam': {'ntc': 9865846846, 'ncell': 9875443434}}
print(a)

{'Ram': {'ntc': [9867567465, 9867657645], 'ncell': 9857647567}, 'Shyam': {'ntc': 9865846846, 'ncell': 9875443434}}

In [17]:
# There should be immutable value as key in dictionary

In [25]:
# Dictionary inside list

l = [{'name': 'Ram', 'ntc': 9879789789, 'ncell': 9867876876},
     {'name': 'Shyam', 'ntc': 9879798980, 'ncell': 9867877877}
    ]
print(l)

[{'name': 'Ram', 'ntc': 9879789789, 'ncell': 9867876876}, {'name': 'Shyam', 'ntc': 9879798980, 'ncell': 9867877877}]

In [27]:
print(l[0]['ntc'])
print(l[0]['ncell'])

9879789789
9867876876

In [3]:
# WAP to create dictionary inside list and also CRUD

l = []
n = int(input("Enter n = "))
m = int(input("Enter m = "))
for i in range(n):
    d = {}
    for j in range(m):
        name = input("Enter name: ")
        ntc = int(input("Enter NTC number: "))
        ncell = int(input("Enter Ncell number: "))
        d = {'name':name, 'ntc':ntc, 'ncell':ncell}
    l.append(d)
print(l)

Enter n = 1
Enter m = 1
Enter name: Ram
Enter NTC number: 9797979797
Enter Ncell number: 98989898989
[{'name': 'Ram', 'ntc': 9797979797, 'ncell': 98989898989}]

In [11]:
# Add

a = [{'name': 'Ram', 'ntc': 9797979797, 'ncell': 98989898989}]
a.append({'name': 'Shyam', 'ntc': 9875674563, 'ncell': 9191919192})
print(a)

[{'name': 'Ram', 'ntc': 9797979797, 'ncell': 98989898989}, {'name': 'Shyam', 'ntc': 9875674563, 'ncell': 9191919192}]

In [12]:
# Edit

a = [{'name': 'Ram', 'ntc': 9797979797, 'ncell': 98989898989}, {'name': 'Shyam', 'ntc': 9875674563, 'ncell': 9191919192}]
a[0]['name'] = 'Hari'
print(a)

[{'name': 'Hari', 'ntc': 9797979797, 'ncell': 98989898989}, {'name': 'Shyam', 'ntc': 9875674563, 'ncell': 9191919192}]

In [15]:
# Delete
a = [{'name': 'Ram', 'ntc': 9797979797, 'ncell': 98989898989}, {'name': 'Shyam', 'ntc': 9875674563, 'ncell': 9191919192}]
del a[0]
print(a)

[{'name': 'Shyam', 'ntc': 9875674563, 'ncell': 9191919192}]