In [1]:
# file
# Syntax:

# Modes:
# r -> read
# w -> write
# x -> create
# a -> append

# file = open('<file_name>','mode')
# file.close()

# with open(<file_name,mode>):
#     <operations>

In [2]:
# To create a file

try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already created.")

In [3]:
# To find out the file in the folder

import os
os.listdir()

['.ipynb_checkpoints',
 'basics of python.ipynb',
 'Conditional Statement.ipynb',
 'data.txt',
 'Dictionary.ipynb',
 'Exception Handling.ipynb',
 'File Handling.ipynb',
 'Function.ipynb',
 'List.ipynb',
 'Loop.ipynb',
 'NestedList.ipynb',
 'Set.ipynb',
 'String.ipynb',
 'Tuple.ipynb']

In [4]:
# To write in a file

file = open('data.txt','w')
file.write('Hello World')
file.close()

In [5]:
# To read a file

file = open('data.txt','r')
print(file.read())
file.close()

Hello World

In [40]:
# To write in a file

file = open('data.txt','w')
file.write("""SN,Name,Age,Address,Phone
1,Ram,45,Kathmandu,9876564563
2,Shyam,23,Chitwan,9756876555
3,Hari,34,Bhaktapur,9877878767
4,Radha,23,Tinkune,9876453452
5,Krishna,23,Baneshwor,9875546343""")
file.close()

In [41]:
# To read a file

file = open('data.txt','r')
data = file.read()
print(data)
file.close()

SN,Name,Age,Address,Phone
1,Ram,45,Kathmandu,9876564563
2,Shyam,23,Chitwan,9756876555
3,Hari,34,Bhaktapur,9877878767
4,Radha,23,Tinkune,9876453452
5,Krishna,23,Baneshwor,9875546343

In [42]:
# To convert and print data into list

list_data = data.split('\n')
list_data

['SN,Name,Age,Address,Phone',
 '1,Ram,45,Kathmandu,9876564563',
 '2,Shyam,23,Chitwan,9756876555',
 '3,Hari,34,Bhaktapur,9877878767',
 '4,Radha,23,Tinkune,9876453452',
 '5,Krishna,23,Baneshwor,9875546343']

In [43]:
# To convert and print data into list inside list

final_data = []
for i in list_data:
    final_data.append(i.split(','))
final_data

[['SN', 'Name', 'Age', 'Address', 'Phone'],
 ['1', 'Ram', '45', 'Kathmandu', '9876564563'],
 ['2', 'Shyam', '23', 'Chitwan', '9756876555'],
 ['3', 'Hari', '34', 'Bhaktapur', '9877878767'],
 ['4', 'Radha', '23', 'Tinkune', '9876453452'],
 ['5', 'Krishna', '23', 'Baneshwor', '9875546343']]

In [44]:
# To change sn,age and phone into integer using index

final_data = []
for i in list_data:
    z = i.split(',')   # To seperate values by comma
    try:
        z[0] = int(z[0])
        z[2] = int(z[2])
        z[4] = int(z[4])
        final_data.append(z)
    
    except:
        final_data.append(z)
        
final_data

[['SN', 'Name', 'Age', 'Address', 'Phone'],
 [1, 'Ram', 45, 'Kathmandu', 9876564563],
 [2, 'Shyam', 23, 'Chitwan', 9756876555],
 [3, 'Hari', 34, 'Bhaktapur', 9877878767],
 [4, 'Radha', 23, 'Tinkune', 9876453452],
 [5, 'Krishna', 23, 'Baneshwor', 9875546343]]

In [45]:
name = input("Enter name for search: ")
for i in final_data:
    if i[1].lower() == name.lower():
        print(i)

Enter name for search: ram
[1, 'Ram', 45, 'Kathmandu', 9876564563]

In [48]:
# To write in a file using csv

file = open('data.csv','w')
file.write("""SN,Name,Age,Address,Phone
1,Ram,45,Kathmandu,9876564563
2,Shyam,23,Chitwan,9756876555
3,Hari,34,Bhaktpur,9877878767
4,Radha,23,Tinkune,9876453452
5,Krishna,23,Baneshwor,9875546343""")
file.close()

In [39]:
# To find out path of file but only used in jupyter

pwd

'C:\\Users\\Rubina\\Desktop\\Python'

In [52]:
# write mode

bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name of a product = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    data = f"{name},{price},{qty},{total}\n"
    bill = bill + data
print(bill)

file = open("bill.csv",'w')
file.write('Product,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter name of a product = Biscuit
Enter price = 10
Enter quantity = 30
Enter name of a product = Noodle
Enter price = 20
Enter quantity = 20
Biscuit,10.0,30.0,300.0
Noodle,20.0,20.0,400.0

In [1]:
# append mode

import datetime

x = datetime.datetime.now()
date_time = x.strftime("%c")

bill = str()
n = int(input("Enter n = "))
customer_name = input("Enter customer name = ")
for i in range(n):

    product_name = input("Enter name of a product = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    data = f"{customer_name},{product_name},{price},{qty},{total},{date_time}\n"
    bill = bill + data
print(bill)

file = open("bills.csv",'a')
file.write('Customer Name,Product,Price,Quantity,Total,Date and Time\n')
file.write(bill)
file.close()

Enter n = 1
Enter customer name = Ram
Enter name of a product = Biscuit
Enter price = 10
Enter quantity = 30
Ram,Biscuit,10.0,30.0,300.0,Wed Jan  8 09:31:55 2025