In [1]:
# Python Collection:
#     List
#     Tuple
#     Dictionary
#     Set

In [2]:
# List: can store multiple and duplicate data
#     - support indexng
#     - ordered
#     - mutable

In [4]:
l = ["Apple", "Banana", "Mango", "Apple"]
l1 = [1,2,3,4,5,6,7,8,9,10]
print(type(l))
print(type(l1))

<class 'list'>
<class 'list'>

In [10]:
l = ["Apple", "Banana", "Mango", "Apple"]
print(l[0])
print(l[0:3])
print(l[0:])
print(l[0:6:2])

Apple
['Apple', 'Banana', 'Mango']
['Apple', 'Banana', 'Mango', 'Apple']
['Apple', 'Mango']

In [11]:
l = ["Apple", "Banana", "Mango", "Apple"]
print(l)

['Apple', 'Banana', 'Mango', 'Apple']

In [12]:
# Types of operators in list: + *

In [13]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [14]:
a = [1,2,3]
print(a*2)

[1, 2, 3, 1, 2, 3]

In [16]:
# Defining empty list

l = list()
l

[]

In [17]:
# To create list:
#     append()
#     insert()
#     extend()

In [18]:
# Append: add values to last

a=[]
a.append("Apple")
a.append("Mango")
a.append("Grape")
print(a)

['Apple', 'Mango', 'Grape']

In [19]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l.append(x)
print(l)

Enter n = 2
Enter x = Apple
Enter x = Mango
['Apple', 'Mango']

In [24]:
a = ["Apple", "Banana", "Mango", "Apple"]
a.append("Hello")
print(a)

['Apple', 'Banana', 'Mango', 'Apple', 'Hello']

In [26]:
# Insert: insert value anywhere in list by specifying the index

a = ['Apple', 'Banana', 'Mango', 'Apple', 'Hello']
a.insert(2,"New")
print(a)

['Apple', 'Banana', 'New', 'Mango', 'Apple', 'Hello']

In [27]:
# Extend

a = [1,2,3,4]
b = [5,6,7,8]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
# Update

a = ['Apple', 'Banana', 'Mango', 'Hello']
a[0] = "Apple"
print(a)

['Apple', 'Banana', 'Mango', 'Hello']

In [31]:
a = ['Apple', 'Banana', 'Mango', 'Hello']
a[0] = a[0].upper()
print(a)

['APPLE', 'Banana', 'Mango', 'Hello']

In [33]:
a = ['Apple', 'Banana', 'Mango', 'Hello']
a[0:3] = ["apple", "banana", "mango"]
print(a)

['apple', 'banana', 'mango', 'Hello']

In [34]:
a = ['Apple', 'Banana', 'Mango', 'Hello']
a[0:3] = ["apple"]
print(a)

['apple', 'Hello']

In [ ]:
# For delete: del, remove(), pop()

In [39]:
a = ['Apple', 'Banana', 'Mango', 'Hello']
del a[0]
print(a)

['Banana', 'Mango', 'Hello']

In [40]:
del a[0]
print(a)

['Mango', 'Hello']

In [41]:
a = ['Apple', 'Banana', 'Mango', 'Hello']
a[0] = a[0].replace("p","")
print(a)

['Ale', 'Banana', 'Mango', 'Hello']

In [54]:
l = len(a)
a = ['Apple', 'Banana', 'Mango', 'Hello']
for i in range(l):
    a[i] = a[i].upper()
print(a)

['APPLE', 'BANANA', 'MANGO', 'HELLO']

In [55]:
s = [10000,20000,30000,40000]
l = len(s)
for i in range(l):
    s[i] = s[i]*1.15
print(s)

[11500.0, 23000.0, 34500.0, 46000.0]

In [1]:
# To delete in range

a = ['Apple', 'Banana', 'Mango', 'Hello']
del a[0:2]
print(a)

['Mango', 'Hello']

In [6]:
# Remove: delete the data by value and cannot delete mutiple data

a = ['Apple', 'Banana', 'Mango', 'Hello', 'Apple']
a.remove("Apple")
print(a)

['Banana', 'Mango', 'Hello', 'Apple']

In [5]:
# POP: can remove data and the deleted data can be stored in another variable

a = ['Apple', 'Banana', 'Mango', 'Hello']
b = a.pop(0)
print(a)
print(b)

['Banana', 'Mango', 'Hello']
Apple

In [11]:
# To delete same data at once. 

a = ['Apple', 'Banana', 'Mango', 'Hello', 'Apple']
b = a.count("Apple")
for i in range(b):
    a.remove("Apple")
print(a)

['Banana', 'Mango', 'Hello']

In [18]:
# To find out the index of the data

a = ['Apple', 'Banana', 'Mango', 'Hello', 'Apple']
for i in range(len(a)):
    if a[i] == "Apple":
        print(i)

0
4

In [10]:
# To find out multiple index of a data

a = ['Apple', 'Banana', 'Mango', 'Hello', 'Apple']
l = []
for i in range(len(a)):
    if a[i] == "Apple":
        l.append(i)
print(l)
for i in l:
    a[i] = "Grapes"
print(a)

[0, 4]
['Grapes', 'Banana', 'Mango', 'Hello', 'Grapes']

In [19]:
# min(), max(), sum(), sort(), reverse()

a = [34,56,32,78,65,45,67,89,36,12,23]
print("Sum = ",sum(a))
print("Minimum value = ",min(a))
print("Maximum value = ",max(a))
a.sort()
print("Sorted value = ",a)
a.reverse()
print("Reversed value = ",a)

Sum =  537
Minimum value =  12
Maximum value =  89
Sorted value =  [12, 23, 32, 34, 36, 45, 56, 65, 67, 78, 89]
Reversed value =  [89, 78, 67, 65, 56, 45, 36, 34, 32, 23, 12]

In [23]:
a = ["Duster","Apple", "Cat", "Ball", "Zebra","23","12","apple", "#","$"]
a.sort()
print(a)

['#', '$', '12', '23', 'Apple', 'Ball', 'Cat', 'Duster', 'Zebra', 'apple']

In [5]:
# List comprehension

l = ["Apple","Ball","Cat"]
l1 = [i.lower() for i in l]
l1

['apple', 'ball', 'cat']