In [1]:
# List inside list

In [3]:
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
a = [
    ['Ram', 34, 'Kathmandu'],
    ['Hari', 67, 'Bhaktapur'],
    ['Krishna', 23, 'Chitwan']
]
print(a)

[['Ram', 34, 'Kathmandu'], ['Hari', 67, 'Bhaktapur'], ['Krishna', 23, 'Chitwan']]

In [5]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    data = [name,age,address]
    l.append(data)
print(l)

Enter n = 2
Enter name = Krishna
Enter age = 23
Enter address = Kathmandu
Enter name = Hari
Enter age = 34
Enter address = Chitwan
[['Krishna', 23, 'Kathmandu'], ['Hari', 34, 'Chitwan']]

In [10]:
l = [
    ['Ram', 34, 'Kathmandu'],
    ['Hari', 67, 'Bhaktapur'],
    ['Krishna', 23, 'Chitwan']
]
print(l[0])
print(l[0][0])
print(l[2])
print(l[2][0])

['Ram', 34, 'Kathmandu']
Ram
['Krishna', 23, 'Chitwan']
Krishna

In [13]:
l = [
    ['Ram', 34, 'Kathmandu'],
    ['Hari', 67, 'Bhaktapur'],
    ['Krishna', 23, 'Chitwan']
]
l[0][0] = "Radha"
print(l)

[['Radha', 34, 'Kathmandu'], ['Hari', 67, 'Bhaktapur'], ['Krishna', 23, 'Chitwan']]

In [15]:
l = [
    ['Ram', 34, 'Kathmandu'],
    ['Hari', 67, 'Bhaktapur'],
    ['Krishna', 23, 'Chitwan']
]
del l[0][0] 
print(l)

[[34, 'Kathmandu'], ['Hari', 67, 'Bhaktapur'], ['Krishna', 23, 'Chitwan']]

In [19]:
l = [
    ['Ram', 34, 'Kathmandu'],
    ['Hari', 67, 'Bhaktapur'],
    ['Krishna', 23, 'Chitwan'],
    ['Ram', 45, 'Bharatpur'],
]
for i in l:
    if i[0] == "Ram":
        print(i)

['Ram', 34, 'Kathmandu']
['Ram', 45, 'Bharatpur']

In [22]:
l = [
    ['Ram', 34, 'Kathmandu'],
    ['Hari', 67, 'Bhaktapur'],
    ['Krishna', 23, 'Chitwan'],
    ['Ram', 45, 'Bharatpur'],
]
name = input("Search name = ")
for i in l:
    if i[0].lower() == name.lower():
        print(i)

Search name = ram
['Ram', 34, 'Kathmandu']
['Ram', 45, 'Bharatpur']

In [3]:
# WAP to create a matrix: list inside list
# nested for loop
# row = ?
# col = ?
# x = ?
li = []
row = int(input("Enter number of row: "))
column = int(input("Enter number of column: "))
for i in range(row):
    rowvalue = []
    for j in range(column):
        x = input("Enter values : ")
        rowvalue.append(x)
    li.append(rowvalue)
print("The matrix is: ",li)

Enter number of row: 3
Enter number of column: 3
Enter values : Ram
Enter values : 24
Enter values : Kathmandu
Enter values : Shyam
Enter values : 34
Enter values : Chitwan
Enter values : Hari
Enter values : 23
Enter values : Bhaktapur
The matrix is:  [['Ram', '24', 'Kathmandu'], ['Shyam', '34', 'Chitwan'], ['Hari', '23', 'Bhaktapur']]