In [2]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [3]:
# String is immutable datatype. Once declared, it cannot be changed : + *

In [4]:
a = "Hello "
b = "World"
c = a+b
print(c)

HelloWorld

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [9]:
a = "Hello World"
print(a[1])
print(a[0:5]) # string slicing
print(a[0:10:2])

e
Hello
HloWr

In [10]:
a = input("Enter a = ")
print(a)

Enter a = Hi
Hi

In [14]:
name = input("Enter name: ")
age = input("Enter age: ")
address = input("Enter address: ")

info = "Hello, I am " + name + " I am " + str(age) + " years old and I am from " + str(address)
print(info)

Enter name: Rubina
Enter age: 23
Enter address: Kathmandu
Hello, I am Rubina I am 23 years old and I am from Kathmandu

In [15]:
# String Formatting

name = input("Enter name: ")
age = input("Enter age: ")
address = input("Enter address: ")

info = f"Hello, I am  {name}  I am {str(age)}  years old and I am from  {str(address)}"
print(info)

Enter name: Rubina
Enter age: 23
Enter address: Kathmandu
Hello, I am  Rubina  I am 23  years old and I am from  Kathmandu

In [16]:
# Raw String

name = input("Enter name: ")
age = input("Enter age: ")
address = input("Enter address: ")

info = f"""Hello, 
"I am  {name}"  I am {str(age)}  years old and I am from  {str(address)}"""
print(info)

Enter name: Ram
Enter age: 34
Enter address: Kathmandu
Hello,
"I am  Ram"  I am 34  years old and I am from  Kathmandu

In [21]:
# In index to print the index from last then use "-"
print(info[-1])

u

In [29]:
# print in opposite

a = "Hello World"
l = len(a)
print("Number of characters",l)
a[10:-1:-1]

Number of characters 11

''

In [28]:
a[::-1]

'dlroW olleH'

In [34]:
a = input("Enter a = ")
b = a[::-1]
if a == b:
    print("The number is palindrom")
else:
    print("The number is ordinary")

Enter a = 303
The number is palindrom

In [39]:
# Search in string

a = "Ram Hari Krishna Radha Ram"
if "Ram" in a:
    print("Present")
    print(a.count("Ram"))
else:
    print("Not Present")

Present
2

In [6]:
name = input("Enter name = ")
search = input("Search name: ")
if search in name:
     print("Present")
     print(name.count(search))
else:
    print("Not Present")

Enter name = Ram Hari
Search name: Hari
Present
1

In [7]:
a = "Ram Hari Krishna Radha Ram"
b = a.lower()
c = a. upper()
print(b)
print(c)

ram hari krishna radha ram
RAM HARI KRISHNA RADHA RAM

In [8]:
name = input("Enter name = ").lower()
search = input("Search name: ").lower()
if search in name:
     print("Present")
     print(name.count(search))
else:
    print("Not Present")

Enter name = Krishna krishna Ram Hari
Search name: krishna
Present
2

In [9]:
a = "ram hari krishna radha ram"
a.title()

'Ram Hari Krishna Radha Ram'

In [10]:
# Using Replace

a = "Ram Hari Krishna Radha ram"
a.replace("ram","Ram")

'Ram Hari Krishna Radha Ram'

In [11]:
a = "Ram Hari Krishna Radha ram"
a.replace("ram","")

'Ram Hari Krishna Radha '

In [13]:
a = "Hi"
for i in a:
    print(i)

H
i

In [2]:
a = "Hi"
l = len(a)
i = 0
while i<l:
    print(a[i])
    i = i+1

H
i

In [3]:
a = "Ram Hari Krishna Radha ram"
a.split()

['Ram', 'Hari', 'Krishna', 'Radha', 'ram']

In [4]:
a = "Ram_Hari_Krishna_Radha_ram"
a.split("_")

['Ram', 'Hari', 'Krishna', 'Radha', 'ram']