In [1]:
# Tuple:
#     -Support indexing
#     -Ordered datatype: The output is same as the input defined
#     -Support multiple and duplicate data
#     -Immutable datatype
#     -Static data are stored in tuple. Dynamic data like of database is not stored here
#     -Lightweight
#     - min(), max(), sum() functions can be used

# Q) Why tuple is immutable?
# -> We cannot create, append(), insert() and extend()
# Once created we cannot update and delete.
# No del, remove, pop()
# No sort(), reverse()

In [4]:
a = (1,2,3,4,5)
b = ("Apple", "Ball")
print(type(a))
print(type(b))
print(a)
print(b)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4, 5, 5)
('Apple', 'Ball')

In [6]:
print(b[0])
print(a[1])

Apple
2

In [7]:
print(b)

('Apple', 'Ball')

In [8]:
a = ("Apple","Ball","Cat","Ball")
print(a)

('Apple', 'Ball', 'Cat', 'Ball')

In [10]:
a = (1,2,3)
b = (4,5,6)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [12]:
# To define one value inside tuple then we should end with comma otherwise it will be integer

t = (1,)
print(t)

1

In [13]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
print(t)

Enter n = 3
Enter x = 1
Enter x = 2
Enter x = 3
(1, 2, 3)

In [15]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
print(t)
print("Maximum value:",max(t))
print("Minimum value:",min(t))
print("Sum:",sum(t))

Enter n = 5
Enter x = 344
Enter x = 567
Enter x = 899
Enter x = 12
Enter x = 456
(344, 567, 899, 12, 456)
Maximum value: 899
Minimum value: 12
Sum: 2278

In [16]:
a = 10,20,30,40,50
print(a)

(10, 20, 30, 40, 50)

In [20]:
# Tuple to List

b = list(a)
del b[0]
a = tuple(b)
print(a)

(30, 40, 50)

In [24]:
# Tuple inside Tuple

l = []
a = ((1,2,3),(4,5,6),(7,8,9))
for i in a:
    l.append(list(i))
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
# Converting list inside list to tuple inside tuple

t = ()
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in a:
    tu =  tuple(i)
    t = t + (tu,)
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))